<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_login %}
<div
    class="sw-login"
    :class="{ 'is--login-success' : isLoginSuccess }"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_login_container %}
    <div
        class="sw-login__container"
        :class="{ 'is--login-error': isLoginError }"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_image %}
        <div class="sw-login__image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_image_headlines %}
            <div class="sw-login__image-headlines">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_headline %}
                <div class="sw-login__headline">
                    {{ $tc('sw-login.index.headlineMain') }}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_sub_headline %}
                <div class="sw-login__sub-headline">
                    {{ $tc('sw-login.index.subheadlineMain') }}
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_form %}
        <div class="sw-login__content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_view %}
            <transition
                name="fade"
                mode="out-in"
            >
                <router-view
                    :hash="hash"
                    @is-loading="setLoading(true)"
                    @is-not-loading="setLoading(false)"
                    @login-error="loginError"
                    @login-success="loginSuccess"
                />
            </transition>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_loader %}
            <sw-loader v-if="isLoading" />
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block sw_login_container_footer %}
        <div class="sw-login__footer">© shuwei AG - All rights reserved</div>
    {% endblock %}

</div>
{% endblock %}
