<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_cache_index %}
<sw-page class="sw-settings-cache">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_cache_smart_bar_header %}
    <template #smart-bar-header>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_cache_smart_bar_header_title %}
        <h2>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_cache_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="regular-chevron-right-xs"
                small
            />
            {{ $tc('sw-settings-cache.general.mainMenuItemGeneral') }}
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_cache_content %}
    <template #content>
        <sw-card-view>
            <template v-if="isLoading">
                <sw-skeleton />
                <sw-skeleton />
            </template>

            <sw-card
                v-else
                position-identifier="sw-settings-cache-content"
                :title="$tc('sw-settings-cache.general.mainMenuItemGeneral')"
                :is-loading="isLoading"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_cache_content_clear_cache_row %}
                <sw-card-section>
                    <sw-container
                        align="center"
                        columns="1fr auto"
                        gap="20px"
                    >
                        <div>

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_clear_cache_row_heading %}
                            <p class="sw-settings-cache__card-section-heading">
                                {{ $tc('sw-settings-cache.section.clearCachesHeadline') }}
                            </p>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_clear_cache_row_text %}
                            <p>{{ $tc('sw-settings-cache.section.clearCachesText') }}</p>
                            {% endblock %}
                        </div>

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_cache_content_clear_cache_row_button %}
                        <sw-button-process
                            variant="ghost"
                            :is-loading="processes.normalClearCache"
                            :process-success="processSuccess.normalClearCache"
                            @process-finish="resetButtons"
                            @click="clearCache"
                        >
                            {{ $tc('sw-settings-cache.section.clearCachesButton') }}
                        </sw-button-process>
                        {% endblock %}
                    </sw-container>
                </sw-card-section>
                {% endblock %}
            </sw-card>
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
