<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_first_run_wizard_defaults %}
<div class="sw-first-run-wizard-defaults">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_first_run_wizard_defaults_website_card %}
    <sw-settings-listing-default-sales-channel
        ref="defaultWebsiteCard"
        :is-loading="isLoading"
        @hook:mounted="() => defaultWebsiteCardLoaded = true"
    />
    {% endblock %}

</div>
{% endblock %}
