name: Publish Release
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:
jobs:
  publish-release:
    name: "publish-release"
    runs-on: ubuntu-latest
    env:
      DB_CONNECTION: mysql
      DB_HOST: localhost
      DB_PORT: 3306
      DB_USERNAME: root
      DB_PASSWORD: root
      DATABASE_URL: mysql://root:root@localhost:3306/58shuwei
    steps:
      - name: Set up MySQL
        run: |
          sudo systemctl start mysql
          mysql -e 'CREATE DATABASE testdb;' -uroot -proot
          mysql -e 'SHOW DATABASES;' -uroot -proot
      - name: Clone platform
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Setup
        env:
          TAG: ${{ github.ref }}

        run: |
          composer run setup
          zip -r administration src/Administration/ -x 'src/Administration/Resources/app/administration/node_modules/*'

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_name: 58shuwei/administration
          repo_token: ${{ secrets.TOKEN }}
          file: administration.zip
          asset_name: Release ${{ github.ref }}
          file_glob: true
          overwrite: true





