name: Split Repo
on:
  push:
    branches:
      - trunk
    paths:
      - src/Administration/**/*
      - src/Core/**/*
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone platform
        uses: actions/checkout@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Split packages
        run: |
          for package in Administration Core; do
            ./.github/bin/split.sh split_repo "${package}"
          done
      - name: Push split
        run: |
          for package in Administration Core; do
            ./.github/bin/split.sh push "${package}" https://gxiaosong:$GITHUB_TOKEN@github.com/58shuwei trunk
          done
