name: Split Repo
on:
  push:
    branches:
      - trunk
    paths:
      - src/Administration/**/*
      - src/Core/**/*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone platform
        uses: actions/checkout@v2
      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v7
      - name: Split packages
        run: |
          for package in Administration Core; do
            ./.github/bin/split.sh split_repo "${package}"
          done
      - name: Push split
        run: |
          echo "Base branch: ${{ steps.branch-name.outputs.base_ref_branch }}"
          for package in Administration Core; do
            ./.github/bin/split.sh push "${package}" git@github.com:58shuwei "${{ steps.branch-name.outputs.base_ref_branch }}"
          done
